.idea

bin
windows_amd64
target/

*.exe
*.exe~

*.xlsx
*.prof
*.tgz


*.a

rocksdb2


#
.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*.log
*.tmp
*.wal
*.db
*.bin
#db

data/

default.etcd

